/*phase 2 code*/
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    /*phase 2 code*/
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 1.25;
    font-size: 100%;
    
}
code{
    /*phase 2 code*/
    font-family: 'IBM Plex Mono', monospace;
}
tr{
    /*phase 2 code*/
    line-height: 1.5;
}
tfoot{
    font-weight: bold;
}
output{
    color:red;
}
nav{
    /*phase 2 code*/
    font-size: 125%;
    /*phase 3 code*/
    background-color: #ddd;
    margin: 0;
    margin-bottom: 3rem;
    box-shadow: 0 0 5px gray;
}
nav a{
    /*phase 2 code*/
    color: #444;
    /*phase 4 code*/
    text-decoration: none;
    /*phase 5 code*/
    margin-left: 1rem;
}
nav h1{
    /*phase 2 code*/
    font-weight: bold;
    /*phase 3 code*/
    color:black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h2{
    /*phase 2 code*/
    font-size: 150%;
    /*phase 3 code*/
    border-bottom: 1px solid #ddd;
}
h3{
    /*phase 2 code*/
    font-size: 100%;
    /*phase 3 code*/
    margin-bottom: 1rem;
}
.login *{
    /*phase 2 code*/
    font-size: 125%;
}
/*phase 3 code*/
html, body{
    /*phase 3 code*/
    margin: 0;
    padding: 0;
}
.action-card{
    /*phase 3 code*/
    background-color: #b1c3de;
    margin-bottom: 1rem;
    border: 1px solid #204a87;
}
.action-card > p{
    /*phase 3 code*/
    padding: 1rem;
    padding-bottom: 0;
}
.action-card div{
    /*phase 3 code*/
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
}
div h2{
    /*phase 3 code*/
    margin:0;
}
.title{
    /*phase 3 code*/
    margin-bottom: 1rem;
}
div p{
    /*phase 3 code*/
    margin: 0;
}
p {
    /*phase 3 code*/
    margin-bottom: 1rem;
}
/*phase 4 code*/
nav a:hover{
    /*phase 4 code*/
    text-decoration: underline;
}
nav a:active{
    /*phase 4 code*/
    color: black;
}
.login{
    /*phase 4 code*/
    display:flex;
    flex-direction: column;
}
table{
    /*phase 4 code*/
    width: 100%;
}
.numbercolumn{
    /*phase 4 code*/
    text-align: right;
}

main button{
    /*phase 4 code*/
    border-radius: 5px;
    margin-right: 1rem;
}
th{
    /*phase 4 code*/
    text-align: left;
}

.login div{
    /*phase 4 code*/
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.login div *{
    /*phase 4 code*/
    width: 50%;
}
.login button{
    /*phase 4 code*/
    width: 50%;
    margin: auto;
}
/*phase 5 code*/
main{
    /*phase 5 code*/
    max-width: 50rem;
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar{
    /*phase 5 code*/
    max-width: 50rem;
    margin: auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar div{
    /*phase 5 code*/
    display:flex;
    align-items: center;
}
img{
    /*phase 5 code*/
    max-width: 100%;
    margin-right:0;
}
th.sortable { cursor: pointer; }
th.sort-asc::after { content: " \25b2"; }
th.sort-desc::after { content: " \25bc"; }

